<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aviee.develop.music.ultimatespotifyplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notification.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.example.avi.ultimatespotifyplayer.notification.previous" />
                <action android:name="com.example.avi.ultimatespotifyplayer.notification.delete" />
                <action android:name="com.example.avi.ultimatespotifyplayer.notification.pause" />
                <action android:name="com.example.avi.ultimatespotifyplayer.notification.next" />
                <action android:name="com.example.avi.ultimatespotifyplayer.notification.play" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".YoutubeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name=".DisplaySong"></activity>
    </application>

</manifest>